html, body {width: 100%; height: 100%;}




#panel{
	height:34px;
	background-color:#fff;
	position:absolute;
	border: 1px solid #4d90fe;
	padding-left:5px;
	top:3px;
	z-index:auto;
	-webkit-box-shadow: 2px 2px 4px #ccc;
	-moz-box-shadow:    2px 2px 4px #ccc;
	box-shadow:         2px 2px 4px #ccc;
	width: 500 px;
	float:inherit;
  left: 50%;
  margin-left: -263px;
	opacity: 0.8;
}

#address{
	vertical-align: top;
	padding:5px;
	border: none;
	font-style: normal;
	font-size:16px;
	font-family: sans-serif;


}







#misure {
	position: absolute;
	bottom:13px;
	LEFT:3px;
	width:600px;
	background-color:#f5f5f5;
	padding:5px;
	font-size:12px;
	line-height: 0px;
	border: 1px solid #232020;
	opacity: 0.8;
	color: #666;
	border-color: #06F;
	font-family: sans-serif;
	-webkit-box-shadow: 2px 2px 4px #ccc;
	-moz-box-shadow:    2px 2px 4px #ccc;
	box-shadow:         2px 2px 4px #ccc;
	
}



#rightnote {
	position: absolute;
	left:0px;
	bottom:0px;
	width:900px;
	background-color:#f5f5f5;
	padding:0px;
	font-size:10px;
	opacity: 0.8;
	color: #666;
	border-color: #06F;
 
	font-family: Arial, Helvetica, sans-serif;
}

#legenda  {


	position: absolute;
	top:3px;
	right: 60px;
	padding:10px;


	font-size:12px;
	line-height: 16px;
	line-height: 16px;

	color: #666;
	border-color: #06F;
	font-family: font-family: sans-serif;
}
.slidingDiv {
	position: absolute;
	top:40px;
		right: 0px;
	background-color:#f5f5f5;
	width: 150px;
	padding:5px;
	font-size:11px;
	line-height: 16px;
	border: 1px solid #232020;


	color: #666;
	border-color: #06F;
	font-family: font-family: sans-serif;
	-webkit-box-shadow: 2px 2px 4px #ccc;
	-moz-box-shadow:    2px 2px 4px #ccc;
	box-shadow:         2px 2px 4px #ccc;

}	
.show_hide {

	vertical-align: top;
	padding:5px;

	font-style: normal;

	top:10px;

	display:none;
	background-color:#f5f5f5;

	font-size:11px;

	line-height: 16px;

	color: #666;
	border-color: #06F;
	font-family: sans-serif;
	-webkit-box-shadow: 2px 2px 4px #ccc;
	-moz-box-shadow:    2px 2px 4px #ccc;
	box-shadow:         2px 2px 4px #ccc;


}






body {
	font-family:sans-serif;
	background-color:#f5f5f5;
	margin: 0px;
	padding: 0px
}

a{  font-family: sans-serif}
a:link, b:visited{
	color: #000000;
	text-decoration: blink;
	text-decoration:underline;
}

a:hover, b:active{
	color: #333;
	text-decoration: blink;
}

img
{  border-style: none;
}
